h1
  text-align: center
p
  margin: 0
.info
  width: 700px
  button
    width: 200px
.container
  height: 100vh
  display: flex
  background: rgb(247, 248, 252)
  padding: 20px
  margin: 0
  input
    padding: 10px
    border-radius: 10px
    margin: 20px
    width: 250px
    &:focus
      border: none
      outline: none
  .button-main
    width: 150px
    box-sizing: border-box
    border-radius: 5px
    padding: 10px
    height: 180px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    margin-bottom: 20px
    &:nth-child(2)
      height: 200px
    p
      font-weight: 800
    select
      margin-top: 5px
      margin-bottom: 5px
      height: 20px
    &:nth-child(3)
      height: 180px
  .buttons
    height: 500px
    width: 40%
    flex-direction: column
    button
      height: 50px
      padding: 2px
      margin:
        top: 10px
        bottom: 10px
.btn-secondary
  background: #00BFFF !important
.button-active
  background: #ff9a62 !important
.border
  list-style: none
  padding: 0

ul
  margin-left: 0
  list-style: none
  counter-reset: li

.bullet
  li
    text-align: center
    box-sizing: border-box
    border: 3px solid #00BFFF
    padding: 2px
    margin: 10px
    border-radius: 4px
    background: #FEFEFE
    color: #231F20

  .bullet li:before
    position: absolute
    top: -0.7em
    padding-left: 0.4em
    padding-right: 0.4em
    font-size: 16px
    font-weight: bold
    color: #DCC24B
    background: #FEFEFE
    border-radius: 50%
    counter-increment: li
    content: counter(li)
